<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Object</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<a th:href="@{/allUsers}" class="btn btn-primary">User</a>
<a th:href="@{/allGames}" class="btn btn-primary">Game</a>
<a th:href="@{/allBills}" class="btn btn-primary">Factura</a>

</body>
</html>